@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin Panel for managing Task Tracker Application</p>
    <p>View, Add, Edit and Delete all Users, Tasks and Categories</p>
    <form action="@Url.Action("Index", "Users")" method="get">
        <button type="submit" class="btn btn-primary">Users</button>
    </form>
</div>